[Unit]
Description=RMS MultiCam Uploader
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=rms
WorkingDirectory=/home/rms/source/RMS/
SyslogIdentifier=Uploader

Environment=PYTHONUNBUFFERED=1
ExecStart=/home/rms/source/RMS/Scripts/MultiCamLinux/systemd/StartUploader.sh

Restart=on-failure
RestartSec=30
RuntimeMaxSec=48h

Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

KillMode=process
TimeoutStopSec=30
OOMScoreAdjust=1000

StandardOutput=journal
StandardError=journal

ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes

[Install]
WantedBy=multi-user.target

