[Unit]
Description=StarPipeline Housekeeping
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=star
WorkingDirectory=/home/star/source/RMS

# Step 1: update code (no venv needed)
ExecStart=/usr/bin/git pull

# Step 2: activate venv + run housekeeping
ExecStart=/bin/bash -c 'source /home/star/vRMS/bin/activate && python -m Utils.StarPipeline.Housekeeping'

RemainAfterExit=no
Environment=PYTHONUNBUFFERED=1

StandardOutput=journal
StandardError=journal
