[Unit]
Description=Run PopulateWorkQueue every second day at midnight UTC

[Timer]
OnCalendar=*-*-*~2 00:00 UTC
Persistent=true

[Install]
WantedBy=timers.target
