[Unit]
Description=PopulateWorkQueue

[Service]
Type=oneshot
User=star
WorkingDirectory=/home/star/source/RMS
ExecStart=/usr/local/bin/PopulateWorkQueue.sh
TimeoutStartSec=7d
SyslogIdentifier=populateworkqueue

[Install]
WantedBy=multi-user.target
