[Unit]
Description=Sort CALSTAR cache
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=star
Group=star
ExecStart=/usr/local/bin/SortCALSTARCache.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
